.App {
  max-width: 500px;
  margin: auto;
}

.task-list {
  padding: 0;
}
.task-list > li {
  list-style: none;
}
.task-list__task {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list__task > * {
  margin: 5px;
}

.add-task {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.add-task > * {
  margin: 5px;
}

.add-task input {
  flex-grow: 2;
}